@model Neiman.Helpers.PaginatedList<Neiman.Models.Product>
@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-controller="Products" asp-action="Index" method="get">
        <input type="text" name="search" placeholder="Search products">
        <input type="submit" value="Search" />
        <select asp-items="ViewBag.Category" name="Category" style="margin-left:15px;">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index" asp-route-sortBy="@ViewData["NameSortParm"]">Name</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortBy="@ViewData["PriceSortParm"]">Price</a>
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Description
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-search="@ViewData["CurrentSearch"]"
   asp-route-category="@ViewData["CurrentCategory"]"
   asp-route-sortBy="@ViewData["CurrentSortBy"]"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled btn">
    Previous
</a>
<a asp-action="Index"
   asp-route-search="@ViewData["CurrentSearch"]"
   asp-route-category="@ViewData["CurrentCategory"]"
   asp-route-sortBy="@ViewData["CurrentSortBy"]"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled btn">
    Next
</a>